# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt

# PyInstaller / Build
build/
dist/
*.spec
pip-delete-this-directory.txt

# IDE
.vscode/
.idea/

# Application Specific (DATA & SECURITY)
# ------------------------------------
# Ignore generated SSH keys
ssh_keys/

# Ignore application logs
logs/

# Ignore local database of accounts
src/accounts.json
src/repositories.json

# Ignore avatar cache
avatars/

# Ignore backup files
*.bak
